.MediumsList {
  width: 80%;
  background-color: #6f6ce0;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 60px 60px 60px;
  margin: 100px auto;
  overflow: auto;
  height: 600px;
  color: white;

  .heading-container {
    position: relative;
    text-align: center;
    bottom: 10px;
  }
  h3 {
    margin: 0 0 40px 0;
    font-weight: 700;
    text-align: center;
    position: relative;

    #medium-logo {
      width: 130px;
      height: 130px;
      position: relative;
      top: 30px;
      left: 10px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 425px) {
    .heading-container {
      #medium-logo {
        top: 13px;
        left: -1px;
      }
    }
  }
}
