.Signup {
  width: 75%;
  background-color: white;
  margin: 100px auto;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .row {
    margin-bottom: 0;
  }
  h4 {
    font-weight: 600;
    color: #7d3bbb;
  }
  .input-field input[type="text"]:focus + label {
    color: #7d3bbb;
  }
  .input-field input[type="email"]:focus + label {
    color: #7d3bbb;
  }
  .input-field input[type="password"]:focus + label {
    color: #7d3bbb;
  }
  label {
    color: #7d3bbb;

    &:focus {
      color: #7d3bbb;
    }
  }

  input {
    color: #7d3bbb;

    &.validate {
      border-bottom: 1px solid #7d3bbb;
      box-shadow: 0 1px 0 0 #7d3bbb;

      &.invalid {
        border-bottom: 1px solid #7d3bbb;
        box-shadow: 0 1px 0 0 #7d3bbb;
      }

      &:valid {
        border-bottom: 1px solid #7d3bbb;
        box-shadow: 0 1px 0 0 #7d3bbb;
      }
    }

    &:focus {
      border-bottom: 1px solid #7d3bbb !important;
      box-shadow: none !important;
    }
  }

  form {
    .btn-large {
      margin-top: 10px;
      border-radius: 10px;
      background-color: #7d3bbb;
      color: white;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
