.Homepage {
  width: 850px;
  height: 500px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #6f6ce0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 0 auto;
  h1 {
    width: 384px;
    padding-top: 100px;
    margin: 150px 0 0 71px;
    color: white;
    font-weight: 600;
    font-size: 2.3rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  h2 {
    width: 362px;
    margin-left: 71px;
    font-size: 1.3rem;
    line-height: 29px;
    font-weight: 400;
    color: white;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .home-buttons {
    margin-left: 71px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    a {
      &.started {
        border-radius: 10px;
        margin-right: 10px;
        background-color: white;
        color: black;
        font-weight: 600;
        &:hover {
          background-color: #f8bbfa;
        }
      }
      &.learn {
        background-color: #a98ef7;
        font-weight: 600;
        border-radius: 10px;

        &:hover {
          background-color: #7d3bbb;
        }
      }
    }
  }

  .images {
    #moon {
      position: relative;
      width: 140px;
      top: -410px;
      left: 440px;
    }

    #cloud {
      position: relative;
      width: 300px;
      top: -241px;
      left: 390px;
    }
  }
}
